*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  background-color: rgb(93, 141, 184);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

h2:hover{
  color: whitesmoke;
  cursor: pointer;
  font-size: 31px;
}

h3{
  font-size: 20px;
  margin-bottom: 0;
}

h5{
  font-size: 25px;
  color: rgb(118, 32, 32);
  margin: 0;
}

.game-lines{
  text-align: center;
  padding: 0 5px;
}

p{
  font-size: 20px;
  margin-bottom: 0;
}
